/*-------Ошибки--------*/
.show_all
{
	padding: 20px 0;	
}

.previous_next_links
{	
	padding-top: 40px;
	height: 40px;
}

.previous_link
{
	width: 40%;
	float: left;
}

.next_link
{
	width: 40%;
	float: right;
	text-align: right;
}

.errors{
	color: red;
	margin: 5px 0 10px;
	font-size: 0.9em;
}

.captcha ul{
	list-style-type: none;
}
.captcha_enter {
	font-weight: bold;
}
.infoform{
	margin-top: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
.required_field{
	font-size: 0.9em;
	margin-top: 10px;
}
.inpattachment{
	padding-bottom: 5px;
}
.timecalendar{
	background: url("../adm/img/input_calendar.png") no-repeat scroll right center #FFF;
}
.attachment{
	padding-bottom: 5px;
}
.paginator
{	
	text-align:center;
	margin: 20px;
}

.paginator a:link, .paginator a:visited, .paginator span
{
	margin: 0 5px;
}

.shop_search .infofield{
	display: block;
}
.bbcode_toolbar{
	margin-bottom: 0;
}
.bbcode_toolbar img{
	cursor: pointer;
}

.shop_list {
	margin: 0 0 15px;
	padding: 0 0 15px;
	border-bottom: 1px solid #EEE;
}

.shop{
	margin: 0 0 15px;
	padding: 0 0 15px;
	border-bottom: 1px solid #EEE;
	width: 95%;
}

.childshop {
	margin: 10px 0 0 40px;
}

.shop td {
	padding: 0 !important;
}

.shop_list .block_header {
	background-color: #DFDFDF;
	padding: 10px;
	margin-bottom: 10px;
}

.shop_cat_link {
	padding: 10px;
	font-size: 130%;
	font-weight: bold;
	background-color: #EFEFEF;
	margin-bottom: 12px;
}

.shop_sort {
	margin-left: 20px;
	margin-bottom: 20px;
	font-size: 90%;
	font-weight: bold;
}

.shop_name a:link, .shop_name a:visited{
	font-weight: bold;
}

.shop_name a:hover{
	text-decoration: none;
}

.shop_param, .shop_id .shop_rel .shop_param{
	font-size: 11px;
	font-style: italic;
}

.shop_param a:link, .shop_param a:visited{
	color: #142A35;
}

.shop_new, .shop_action, .shop_hit {
	font-weight: bold;
	font-size: 12px;
	color: #FFF;
	padding: 2px;
}

.shop_new {
	background: #080;
	width: 53px;
}

.shop_action {
	background: red;
	width: 39px;
}

.shop_hit {
	background: #00F;
	width: 24px;
}

.shop_price_value, .shop_price_currency{
	color: #BF4600;
	font-weight: bold;
	font-size: 15px;
}

.shop_old_price{
	color: #89949A;
	font-weight: normal;
	font-size: 13px;
	font-style: italic;
}

.shop_old_price .shop_price_value, .shop_old_price .shop_price_currency{
	color: #89949A;
	font-weight: normal;
	font-size: 13px;
	font-style: italic;
}

.shop_id .shop_param{
	font-weight: bold;
	font-style: normal;
	font-size: 13px;
	margin-top: 3px;
	margin-left: 5px;
	background-color: #EEE;
	padding: 3px;
}

.shop_id .shop_param_title{
	font-weight: bold;
	font-style: normal;
	font-size: 13px;
	margin-top: 6px;
	margin-bottom: 3px;
	background:  #DFDFDF;
	padding: 5px;
}

.shop_id .shop_param_value{
	font-weight: normal;
}

.shop_left{
	float: left;
	padding: 0 20px 0 0;
}

.shop_right{
	float: left;
	padding: 18px 0 0;
}

.shop_id .shop_right{
	padding: 0;
}

.shop-form {
	margin-bottom: 10px;
}
.shop_compare_description{
    margin: 0;
    padding: 1px 0;
}

.shop_compare_left{
     float:left;
    width:19%;
}

.shop_compare_list{
    float:left;
    width:70%;
    padding: 0 5%;
    overflow: hidden;
}

.shop_compare_page{
    overflow: hidden;
}

.shop_compare_list .shop{
    width: 30%;
    margin: 0 10px 3% 0; 
    float: left;
}

.shop_compare_list .shop_basic{
    overflow: hidden;
    margin: 0 0 5px;
}

.shop_compare_list .shop_param{
    padding: 4px;
    background: #EEE;
    border-top:#CACACA solid 1px;
    border-bottom:#CACACA solid 1px;
    margin: 1px 0;
    font-size: 13px;
}

.shop_param_existed{
    padding: 4px;
    background: #EEE;
    border-top:#CACACA solid 1px;
    border-bottom:#CACACA solid 1px;
    margin: 1px 0;
    font-size: 13px;
}

.shop_compare_list   .shop_param_difference,
.shop_compare_left  .shop_param_difference{
    background: #F4C1C1;
    border-top:#C69393 solid 1px;
    border-bottom:#C69393 solid 1px;
}

.ab_date{
	font-size: 11px;
	font-style: italic;
}

.ab_param {	
	margin-right: 5px;
}

.ab_param_value, .ab_name {
	font-weight: bold;
}

.ab_id .ab_param {
	float: none;
}

.ab_actions{
	width: 100px;
}
.ab_actions a{
	display: none;
}
.ab_all_img{
	min-width: 160px;
}

.rating{
	display: inline-block;
	padding: 10px 0;
	border-bottom: 1px solid #EEE;
	margin: 0 0 10px;
}

.rating_votes {
	white-space: nowrap;
}

.comments_name{
	font-weight: bold;
}

.comments_date{
	font-size: 11px;
	font-style: italic;	
}

.comment{
	padding: 10px 0;
}

.comment .comments_form{
	padding: 15px 0 15px 30px;
}

a.comments_show_form:link, a.comments_show_form:visited{
	text-decoration: none;
	border-bottom: 1px dashed !important;
}

.comments_level {
	background: url("../modules/forum/img/arrow.gif") no-repeat scroll 10px 8px transparent;
	padding-left: 30px;
}
.comments_form div{
	margin-bottom: 10px;
}
.comments_form textarea {
	width: 580px;
	height: 180px;
}
.comments_param_title{
	font-weight: bold;
}
.cart_not_registrations {
	padding: 30px 0;
}

.cart_autorization{
	padding: 30px 0;
}

.cart_registration{
	padding: 30px 0;
}

.cart_payment_text, .cart_additional_cost_text, .cart_delivery_text {
	margin-left: 20px;
	font-size: 11px;
	font-style: italic;
}

.cart_right{
	width: 200px;
	background: url(../img/cart_y.png) repeat-y 0 0;
	margin: 7px 0 35px;
	position: relative;
	padding: 10px;
}

.cart_right_top{
	width: 220px;
	height: 7px;
	background: url(../img/cart_top_bottom.png) no-repeat 0 0;
	position: absolute;
	top: -7px;
	left: 0;
}

.cart_right_bottom{
	width: 220px;
	height: 7px;
	background: url(../img/cart_top_bottom.png) no-repeat 0 -7px;
	position: absolute;
	bottom: -7px;
	left: 0;
}

.cart_last_tr {
	font-weight: bold;
}

.cart_summ, .cart_count {
	font-weight: bold;
}
.cart td
{
	vertical-align: middle !important;
	width: 100px;
}
.cart_recalc, .wishlist_recalc {
	float: right;
	margin-right: 60px;
}
.cart_count_minus, .cart_count_plus,
.wishlist_count_minus, .wishlist_count_plus{
	color: #665950;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	padding: 0 5px;
}
.cart_remove span,
.wishlist_remove span{
	display: block;
	background: url(../img/remove.png) no-repeat center center;
	width: 14px;
	height: 14px;
	cursor: pointer;
	margin: 0 auto;
}
.cart_check{
	text-align: center;
}
.cart_summ, .cart_price{
	text-align: right;
}
.cart_form input[type=text], .cart_form input[type=email], .cart_form textarea{
	margin-top: 10px;
	width: 400px;
}
.cart_form select{
	margin-top: 10px;
}
.cart_payments{
	overflow: hidden;
}
.cart_payment{
	margin-top: 10px;
}
.cart_form .button_wrap{
	margin: 20px 0 0 220px;
}

.cart_summ_old_total{
		text-decoration: line-through;
}
.balance_form textarea {
	width: 580px;
	height: 180px;
}
.balance_form p {
	margin-bottom: 0;
}
	
.news_img {
	padding: 3px;
	float: left;
}

.news_all_img {
	padding: 3px;
}

.news_all_img  img{
	margin: 0 5px 5px 0;
}
.news_all_img img:after {
	clear: left;
}
.news_day_current,
.news_year_current,
.news_month_current{
	background: #CCC;
}
.news_day_today
{
	border: 1px solid #999;
}

.bs_block {
	padding: 20px 0;
	text-align: center;
}

.clauses {
	width: 100%;
	border-bottom: 1px solid #EEE;
	padding: 0 0 11px;
	margin: 0 0 11px;
	min-height: 90px;
}

.clauses_date{
	font-size: 11px;
	font-style: italic;
}

.clauses_name a:link, .clauses_name a:visited
{
	font-weight: bold;
}

.clauses_img {
	padding: 0 5px 5px 0;
	float: left;
}

.faq_block p{
	margin: 0;
	padding: 0;
}

.faq_list{
	padding-top: 15px;
}

.faq{
	width: 100%;
	border-bottom: 1px solid #EEE;
	padding: 0 0 11px;
	margin: 0 0 11px;
}

.faq_date{
	font-size: 11px;
	font-style: italic;
}

.faq_question{
	padding: 5px 0;
}

.faq_answer{
	padding-left: 15px;
}

.faq_id .faq_answer{
	padding: 0 0 20px 15px;
}

.faq_id .faq_question{
	font-weight: bold;
}

.tags{
	margin: 10px 0 5px;
}

.tags_block{
	padding: 10px;
	background: #E8E8E1;
	margin: 20px 0 25px;
}

.files_block{
	padding: 10px;
	border: 1px solid #EEE;
	margin: 0 0 25px;
}

.files{
	width: 100%;
	border-bottom: 1px solid #EEE;
	padding: 0 0 20px 0;
	margin: 30px 0 0;	
	min-height: 90px;
}

.files_date{
	font-size: 11px;
	font-style: italic;
}

.files_name a:link, .files_name a:visited{
	font-weight: bold;
}

.files_anons{
	margin-top: 10px;
}

.files_download {
	margin-top: 50px;
	margin-bottom: 20px;
}

.files_download a {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 120%;
	text-align: center;
	padding: 7px;
	background:  #FF6600;
}

.file-row .files_img {
	padding: 3px;
	float: left;
}

.files_all_img {
	padding: 3px;
}

.files_all_img  img{
	clear: left;
}

.votes_block {
	margin: 0 0 25px;
}

.votes_block h2{
	padding: 0 10px;
}

.votes_question{
	margin: 0 0 15px;
	padding: 0 10px;
}

.votes_form_answer{
	padding: 0 10px;
}

.votes_block .button_wrap{
	padding: 0 0 0 7px;
}

.votes_block .button{
	padding: 0 7px 0 0;
}

*+html .votes_block .button_wrap{
	padding: 0 0 0 5px;
}

*+html .votes_block .button{
	padding: 0 5px 0 0;
	font-size: 12px;
}

.votes_block .votes_wrap{
	background: url(../img/button_votes_left.gif) no-repeat 0 0;
	padding: 0 0 0 7px;
	display: inline-block;
	margin: 0;
}

.votes_block .votes_result{
	height: 36px;
	background: url(../img/button_votes_right.gif) no-repeat 100% 0;
	padding: 0 7px 0 0;
	border: 0;
	color: #142A35;
	margin: 0;
	font-weight: bold;
}

*+html .votes_block .votes_wrap{
	padding: 0 0 0 3px;
}

*+html .votes_block .votes_result{
	padding: 0 3px 0 0;
	font-size: 12px;
}

.votes_block .votes_wrap, .votes_block .button_wrap{
	margin: 10px 0 0 0;
}

.photo {
	margin: 0 5px 5px 0;
	float: left;	
	overflow: hidden;	
}

.photo_name {
	width: 170px;
}

.photo_img {
	margin-bottom: 10px;
}

.photo_img img {
	border: 1px solid #9C9C9C;
}

.photo_block{
	padding: 10px;
	background: #E8E8E1;
	margin: 0 0 25px;
	text-align: center;
}

.photo_block h2{
	text-align: left;
}

.photo_block .photo_size{
	font-size: 11px;
	font-style: italic;
	color: #728087;
}

.photo_first_page{
	float: left;
	width: 200px;
	margin-right: 20px;
}

.photo_first_page .show_all{
	padding-top: 0px;
}

/* forum */
table.forum_list {
	width: 100%;
}
table.forum_list td {
	padding-bottom: 10px;
	padding-top: 20px;
	vertical-align: top;
}
.forum_name
{
	font-weight: bold;
}
.forum_title {
	font-weight: bold;
}
.forum_category .forum_name
{
	font-weight: normal;
}
.forum_category_name .forum_name
{
	margin-left: 0;
}
.forum_category_name a
{
	margin-left: 10px;
}
a.forum_blocked:link, a.forum_blocked:visited, .forum_blocked
{
	color: gray;
}
.forum_date
{
	color: #999;
}
.forum_author
{
	font-style:italic;
}
a.forum_message_show_form:link, a.forum_message_show_form:visited
{
	text-decoration: none;
	border-bottom: 1px dashed !important;

}
.forum_actions
{
	float: right;
	width: 130px;
	height:20px;
	text-align:right;
}
.forum_actions span
{
	display:none;
	padding: 0 5px;
}
.forum_actions img
{
	margin: 0 5px;
}

.forum_search
{
	text-align: right;
	padding: 10px 0 20px 0;
	white-space: nowrap;
}
.forum_search input[type=text]{}
.forum_search .button1 {
	font-weight: normal;
	font-size: 0.9em;
	text-transform: lowercase;
	margin-top: 10px;
	padding: 3px 7px;
	border:0;
}

.forum_add
{
	background: transparent url(../modules/forum/img/add.gif) no-repeat center left;
	font-weight: bold;
	margin: 30px 0;
	padding: 0 0 0 20px;
}

.forum_list
{
	width: 100%;
	border: 0px;
	border-collapse: collapse;
}
.forum_list th
{
	color: #999;
	font-weight: normal;
	font-size:1.3em;
	padding: 0 20px 15px 0;
	text-align: left;
}
.forum_list td
{
	border-top: 1px solid #E0E0E0;
	vertical-align: middle;
	padding: 10px 0px;
}

.forum_form{ margin-top: 10px; }
.forum_form textarea
{
	width: 100%;
	height: 100px;
	margin-top: 10px;
}

.forum_form .hide_form
{
	display:none;
}

.forum_message
{	
	padding: 10px 0 0;
}
.forum_message_form
{
	padding: 10px 0;
}
.forum_message .forum_author
{
	font-weight: bold;
}
.forum_message_form input[type=text]
{
	margin-bottom: 10px;
}
.forum_message_form textarea
{
	width: 500px;
	height: 200px;
}
.message_new
{
	background:#FFECF1;
}
.message_list .actions_message
{
	float: right;
	width: 90px;
	height:20px;
	text-align:right;
}
.message_list .actions_message span{}
.message_list .actions_message img{}
.message_list .message{}
.message_list .message .quote
{
	background: #F9F2F2;
	border: 1px solid #C2C0B4;
	padding: 10px;
	margin: 5px 0;
}
.message_list .message .code
{
	background: #F2F9F9;
	border: 1px solid #C2C0B4;
	padding: 10px;
	margin: 5px 0;
}
.message_list .message .quote_header,.message_list .message .code_header
{
	font-weight:bold;
}

.forum_message_level {
	background: url("../modules/forum/img/arrow.gif") no-repeat scroll 10px 8px transparent;
	padding-left: 30px;
}

.message_result
{
	display:none;
}
.bbutton
{
	border: 1px solid #CCC;
	margin: 1px;
	padding: 2px;
}
.bbutton:hover
{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	-moz-opacity: 0.6;
}
.message_toolbar
{
	margin: 10px 0 0 0;
}	
.avatar {
	float: left;
	margin: 0 10px 10px 0;
}
.forum_list .actions_message {
	height: 20px;
	width: 70px;
}
.forum_form textarea, .ab_form textarea {
	height: 100px;
	margin-top: 10px;
	width: 100%;
}
.forum_form .hide_form {
	display: none;
}
.forum_new_messages {
	margin: 0 0 10px;
}

.shop_compare_contaner{
	display: inline-block;
	padding: 0 0 0 14px;
	background:url(../img/checkbox.gif) left 2px no-repeat;
}
.shop_compare_button{
	border:none;
	padding: 0;
	background: none;
	text-decoration: underline;
}
.shop_compare_button:hover{
	text-decoration: none;
}
.shop_compare_checked{
	background-position: left -19px;
}
.shop_no_buy, .shop_no_buy_good{
	color: #000;
	font-weight: bold;
	background-color: #ddd;
	padding: 7px;
}
.shop_waitlist {
	background-color: #fff;
	padding: 7px;
}
.shop_discount {
	font-weight: bold;
	font-size: 16px;
	color: #00F;
}
.messages tr:hover{
	background: #F8F8F8; 
}
.search_list{
	margin-top: 10px;
}
.users_admin_message{
	margin-bottom: 20px;
}
.users_admin_message_date{
	font-size: 11px;
	font-style: italic;
}