@charset "utf-8";

/* ****************************  FONTS ************************ */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic|700,700italic|300,300italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic);
/* ***************************** Reset css  *********************** */
html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
html {height: 100%;}
* html body {height: 100%;}
body {
    line-height: 1; 
	background: #fff; 
    min-height: 99.4%;
    position: relative;	
font-family: 'Open Sans', sans-serif;
min-width: 1020px;
    font-size: 14px; 
margin: 0; 
    font-size: 100%;
padding-top: 117px;
    }
ol, ul {
    list-style: none;
}

a, a:hover{
    text-decoration: none;
}
.clear{
    clear: both;
    display: block;
}
* { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wrapp_site:after, .news_block:after{
clear: both;
width: 100%;
content: '';
display: block;
}
/* ************************************ RESET ************************************ */
#backgroundPopup, #backgroundPopup2, #backgroundPopup3 {
display: none;
position: fixed;
_position: absolute;
height: 100%;
width: 100%;
top: 0;
left: 0;
background: #000;
border: 1px solid #000;
z-index: 1998;
}
#popupContact, #popupContact2, #popupContact3 {
display: none;
position: absolute;
_position: absolute;
z-index: 2000;
border-radius: 10px;
text-align: left;
width: 360px;
margin-left: 0;
padding: 14px;
margin-top: 0;
background: #fff;
border-radius: 6px;
}
.closse {
display: block;
background: url(../img/closse.png) no-repeat left top;
width: 20px;
height: 20px;
top: -30px;
position: absolute;
right: -30px;
}
#popupContact a {
color: #515151;
line-height: 19px;
}
.wrapp_search {
  min-width: 100%;
  height: 117px;
  padding: 20px 0 0;
  border-bottom: 3px solid #fff;
  background: #f6f6f6;
}
.wrapp_site {
  width: 1020px;
  padding: 0 10px;
  margin: 0 auto;
}
.top_search input[type="submit"]{
background: #ca252c;
font-size: 15px;
font-weight: bold;
text-transform: uppercase;
padding: 8px 25px;
outline: none;
border: none;
display: inline-block;
cursor: pointer;
color: #fff;
margin-top: 0;
vertical-align: middle;
}
#textbox{
background: #fff url(../img/sear.png) no-repeat 5px center;
border: 1px solid #e1e1e1;
border-left: 0;
width: 700px;
padding: 9px 10px 7px 30px;
outline: none;
color: #424242;
display: inline-block;
font-size: 13px;
margin-left: -4px;
margin-top: 0;
vertical-align: middle;
}
.search-input .search-input1{
margin-bottom: 15px;
}
.alfavit{
position: relative;
float: right;
}
.alfavit .title{
background: #ca252c url(../img/arr_alfav.png) no-repeat 145px center;
color: #fff;
font-size: 15px;
cursor: pointer;
font-weight: bold;
text-transform: uppercase;
padding: 4px 22px;
display: inline-block;
font-family: 'Open Sans','calibri', sans-serif;
vertical-align: top;
height: 33px;
width: 167px;
}
.alfavit_rus{ 
vertical-align: top;
margin-top: -4px;
position: absolute;
width: 498px;
display: none;
padding: 15px;
right: 0;
top: 36px;
background: #f6f6f6;
border: 2px solid #fff;

}
.alfavit_rus a{
color: #494949;
font-size: 10px;
text-transform: uppercase;
margin: 0 3px;
line-height: 18px;
}
.alfavit_rus a:hover{
text-decoration: underline;
color: #000;
}
.wrapp_log_cart{
width: 100%;
background: #ebebeb;
height: 44px;
margin: -56px 0 20px 0px;
}
.wrapp_right_c{
float: right;
width: 580px;
}
.regist{
float: left;
margin-right: 20px;
margin-left: 0;
}
.regist li{
display: inline-block;
vertical-align: top;
}
.regist li a, .regist li .vhod{
color: #3e3e3e;
font-size: 14px;
display: block;
padding: 13px 20px 13px 40px;
border-left: 1px solid #bcbcbc;
}
.regist li .vhod{
cursor: pointer; 
border-right: 1px solid #bcbcbc; 
background: url(../img/ico_log.png) no-repeat 15px center;
}
.registr{
background: url(../img/reg_iso.png) no-repeat 15px center;
}
.regist li a:hover, .regist li span.vhod:hover{
color: #000;
}
.top_search{

}
.wrapp_search .top_search {
height: 33px;
float: left;
margin-bottom: 0;
}
.top_search form.fix{
width: 100%;
left: 0;
text-align: center;
background: #f6f6f6;
height: 55px;
padding: 10px;
z-index: 100;
border-bottom: 1px solid #cecece;
}
.wrapp_search{
width: 100%;
left: 0;
top: 0;
padding-top: 10px;
height: 61px;
z-index: 101;
position: fixed;
}
.cart_block {
float: right;
display: block;
position: relative;
}
.cart_block a{
font-size: 14px;
color: #fff;
}
.cart_block form{
display: none;
overflow: hidden;
position: absolute;
top: 44px;
right: 0; 
width: 325px;
z-index: 100;
background: #fff;
border: 1px solid #ebebeb;
border-collapse: collapse;
}
.cart_block form .number{
width: 40px;
}
.cart_block .cart .cart_img img{
width: 60px;
height: auto;
}
.cart_block img.img_cart{
border-right: 1px solid #fff;
display: block;
float: left;
}
.wr_cart{
display: block;
float: left;
padding: 6.5px 13px;
background: #3e3e3e;
}
.title_cart{
display: inline-block;
vertical-align: top;
margin-right: 7px;
padding: 5px 15px 5px 5px;
border-right: 1px solid #7c7c7c;
}
.sum_cart_info{
display: inline-block;
vertical-align: top;
width: 94px;
margin-right: 7px;
padding: 5px 15px 5px 5px;
}
.logo{
display: block;
float: left;
margin-bottom: 30px;
}
.wrapp_hed_cont{
float: right;
width: 642px;
text-align: right;
margin-top: 40px;
}
.wrapp_hed_cont p, .konta p{
display: inline-block;
vertical-align: top;
padding: 1px 0 2px 20px;
color: #424242;
font-size: 18px;
margin-left: 20px;
}
.konta p{
margin-bottom: 10px;
margin-left: 0;
font-size: 16px;
}
 p.meil{
background: url(../img/mail.png) no-repeat left center;
padding: 1px 0 2px 29px;
}
p.meil a{
color: #424242;
}
p.phone{
background: url(../img/phone.png) no-repeat left center;
} 
.top_menu{
width: 1000px;
margin:0 auto 20px; 
background: #3e3e3e;
border-radius: 3px;
}
.top_menu li{
display: inline-block;
vertical-align: top;
margin: 0;
}
.top_menu li a{
color: #ffffff;
font-size: 14px;
padding: 25px 24px 26px 42px;
border-right: 1px solid #111111 !important;
/*border-left: 1px solid #676767;*/
text-transform: uppercase;
display: block;
}
.top_menu li:first-child a{
border-left: none;
}
.top_menu li:last-child a{
border-right: none !important;
}
.top_menu li.li24 a{
background: url(../img/cat_iso.png) no-repeat 10px center;
}
.top_menu li.li16 a{
background: url(../img/prais_iso.png) no-repeat 10px center;
}
.top_menu li.li17 a{
background: url(../img/spec_iso.png) no-repeat 10px center;
}
.top_menu li.li18 a{
background: url(../img/zayavka_iso.png) no-repeat 10px center;
}
.top_menu li.li19 a{
background: url(../img/servis_iso.png) no-repeat 10px center;
}
.top_menu li.li20 a{
background: url(../img/cont_iso.png) no-repeat 10px center;
}
.top_menu li.li38 a{
background: url(../img/cont_iso.png) no-repeat 10px center;
}
.shop_list2{
width: 250px;
float: left;
margin-left: -1px;
padding: 30px 20px;

margin-top: -1px;
border: 1px solid #d1d1d1;
}
.name_cat{
color: #ca252c;
font-size: 15px;
display: block;
margin-bottom: 30px;
}
.count{
color: #606060;
}
.shop_cat_img{
text-align: center;
margin-bottom: 30px;
}
.shop_cat_img img{
border: 3px solid #dddddd;
border-radius: 4px;
}
.list_cat li a{
display: block;
padding: 0px 0 0px 12px;
background: url(../img/arrow.png) no-repeat left 3px;
font-size: 13px;
color: #4c4c4c;
margin-bottom: 10px;
}
#top-menu{

list-style-type: none;
margin-left: 0;
}
.list_cat{
margin-bottom: 40px;

list-style-type: none;
margin-left: 0 !important;
}
.all_tov{
display: block;
margin: 0 auto;
width: 120px;
color: #fff;
text-align: center;
padding: 10px 0;
font-size: 14px;
text-transform: uppercase;
background: #adadad;
}
.all_tov:hover{
background: #ca252c;
}
.list_cat li a:hover{
color: #ca252c;
}
.wrapp_content{
margin-bottom: 30px;
}
.wrapp_content a {
  color: #424242;
}
.wrapp_predl_preim{
padding: 40px 0 10px;
background: #f6f6f6;
}
h2.hit{
color: #494949;
font-weight: bold;
text-transform: uppercase;
margin-bottom: 30px;
font-size: 20px;
}
.hidden{
width: 100%;
overflow: hidden;
}
.hidden .wrapp{
width: 105%;
}
.shop-item{
width: 229px;
padding: 15px 15px 0;
border: 1px solid #eaeaea;
float: left;
margin-right: 12px;
margin-bottom: 12px;
}
.shop_img {
text-align: center;
margin-bottom: 15px;
display: table;
width: 100%;
background-color: #fff;
}
.shop_no_buy, .shop_no_buy_good { margin-bottom: 8px; }
.shop-photo-labels { position: absolute; top: 0; right: 0; }
.shop-photo-labels i { overflow: hidden; font-family: arial; color: #fff; font-size: 10px; text-transform: uppercase; width: 56px; height: 56px; text-align: center; display: block; margin-bottom: 10px; -khtml-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; font-style: normal; padding-top: 12px; line-height: normal; }
.shop-photo-labels .label-hit { background: #CC2225; }
.shop-photo-labels .label-hit:before { content: "Хит продаж"; }
.shop-photo-labels .label-action { background: #EE8E00; padding-top: 20px; }
.shop-photo-labels .label-action:before { content: "Акция"; }
.shop-photo-labels .label-new { background: #85AE2D; padding-top: 14px; }
.shop-photo-labels .label-new:before { content: "Новый товар"; }


.shop_all_img .shop-photo-labels { top: 10px; right: 10px; }

.shop_img a { display: table-cell; text-align: center; vertical-align: middle; }
.shop_img img{
/*
height: 154px;
width: auto;
max-width: 100%;
*/
width: 100%;
height: auto;
display: block;
max-width: 100%;
margin: auto;
}
.hidden .wrapp .shop-item-title{
color: #494949;
font-size: 15px;
display: block;
height: 40px;
margin-bottom: 10px;
line-height: 20px;
text-transform: uppercase;
}
.hidden .wrapp .shop-item-title:hover{
text-decoration: underline;
}
.hidden .wrapp  .anons{
color: #494949;
font-size: 14px;
line-height: 16px;
margin-bottom: 15px;
height: 64px;
overflow: hidden;
}
.price{
display: block;
color: #494949;
font-size: 14px;
line-height: 16px;
margin-bottom: 15px;
}
.sub_on, .cart_tu_bay{
display: block;
color: #fff;
cursor: pointer;
font-size: 14px;
border: none;
text-transform: uppercase;
font-weight: bold;
margin-left: -15px;
margin-right: -15px;
text-align: left;
width: 116%;
margin-bottom: -3px;
padding: 11px 46px 11px 9px;
background: #acacac url(../img/icon_cart.png) no-repeat right center;
}
.clear_m{
margin-bottom: 20px;
}
.shop_form  .error{
display: none!important;
}
.preim{
display: inline-block;
width: 490px;
vertical-align: top;
}
.preim+.preim{
margin-left: 15px;
}
.wrapp_preim {
margin-top: 30px;
margin-bottom: 60px;
}
.wrapp_preim .row{
margin-bottom: 20px;
}
.wrapp_preim .row img{
display: inline-block;
vertical-align: middle;
margin-right: 20px;
}
.wrapp_preim .row .text_prem{
display: inline-block;
vertical-align: middle;
text-transform: uppercase;
color: #494949;
font-size: 16px;
font-weight: bold;
}
.wrapp_preim p{
color: #7b7b7b;
font-size: 14px;
margin-bottom: 15px;
line-height: 16px;
}
.wrapp_preim p steong{
font-size: 16px;
}
.menu_bottom{
background: #3e3e3e;
text-align: right;
padding: 20px 10px;
margin-bottom: 20px;
}
.menu_bottom li{
display: inline-block;
vertical-align: top;
}
.menu_bottom li a{
display: block;
color: #fff;
font-size: 12px;
text-transform: uppercase;
padding: 10px 10px 10px 15px;
background: url(../img/disc.png) no-repeat left center;
}
.menu_bottom li a:hover{
text-decoration: underline;
color: #f2f2f2;
}
.menu_bottom li:first-child a{
background: none;
}
.name_foot_block{
display: inline-block;
vertical-align: top;
color: #434343;
margin-right: 14px;
font-size: 15px;
font-weight: bold;
margin-bottom: 10px;
}
.name_foot_block.rejim{ 
width: 290px;
padding-left: 10px;
}
.name_foot_block.konta{
width: 275px;
}
.name_foot_block.faq_n{
width: 235px;
}
.name_foot_block.nas{
width: 125px;
}
.footer.wrapp_site{
padding-top: 20px;
margin-bottom: 50px;
}
.inner_cat .footer.wrapp_site{

}
.footer .name_foot_block.rejim p{
color: #434343;
font-size: 13px;
margin-bottom: 10px;
padding-left: 15px;
background: url(../img/disk_grey.png) no-repeat left 3px;
}
.name_foot_block li a{
color: #434343;
font-size: 13px;
margin-bottom: 10px;
display: block;
padding-left: 15px;
background: url(../img/disk_grey.png) no-repeat left 3px;
}
.name_foot_block li a:hover, .name_foot_block li.active a,
.name_foot_block li a.active{
background: url(../img/disk_red.png) no-repeat left 3px;
}
.wrapp_her{
background: url(../img/verh.png) no-repeat center top;
height: 63px;
margin-bottom: 20px;
cursor: pointer;
}
.foot_logo{
float: left;
margin-bottom: 20px;
}
.copy{
float: right;
color: #404040;
margin-top: 17px;
font-size: 13px;
}
.copy_s{
color: #404040;
margin-top: 26px;
text-align: right;
font-size: 13px;
margin-bottom: 0;
}
.copy_s a{
color: #ca252c;
text-decoration: underline;
}
.copy_s a:hover{
text-decoration: none;
}
.wrapp_icon_menu{
margin-bottom: 0;
background: #f6f6f6;
position: fixed;
bottom: 0px;
width: 100%;
}
.predloj, .zajavka, .cart_iso{
color: #494949;
font-size: 15px;
font-weight: bold;
padding: 14px 0 14px 40px;
width: 285px;

float: left;
text-transform: uppercase;
background: url(../img/comp.png) no-repeat left center;
}
.zajavka{
background: url(../img/docs.png) no-repeat left center;
padding: 14px 0 14px 30px;
width: 290px;
}
.cart_iso{
background: url(../img/cart_i.png) no-repeat left center;
padding: 14px 0 14px 46px;
width: 248px;
}
.cart_form {
width: 400px;
}
.scrol_to{
background: url(../img/scrol_to.png) no-repeat left top;
width: 126px;
height: 44px;
overflow: hidden;
text-indent: 999px;
float: right;
cursor: pointer;
display: inline-block;
vertical-align: top;
}
.tabletov{
border-collapse: collapse;
margin-bottom: 20px;
color: #5a5a5a;
text-transform: inherit;
font-size: 14px;
border: 1px solid #eaeaea;
width: 100%;
}
.tabletov tr th{
padding: 15px 10px;
border: 1px solid #eaeaea;
background: #f2f2f2;
color: #5a5a5a;
font-size: 16px;
}
.tabletov>tbody>tr>td{
padding: 15px 10px;
border: 1px solid #eaeaea;
}
.tabletov tr td.row_bay{
padding:  0;
}
.first{
width: 40px;
}
.second{
width: 130px;
}
.name_c{
width: 290px;
}
.edin{
width: 100px;
text-align: center;
}
.cena{
width: 205px;
}
.colich{
width: 145px;
}
.last{
width: 50px;
}
.number{
width: 100px;
display: block;
padding: 7px 10px;
text-align: center;
border: 1px solid #eaeaea;
outline: none;
color: ##5a5a5a;
font-size: 14px;
margin: 0 auto;
}
.tabletov>tbody>tr>td.last {
border: none;
padding: 0;
}
.tabletov table td{
position: relative;
border-right: 1px solid #c7c7c7;
}
div.cena{
margin-right: -10px;
width: 195px;padding: 15px 10px;
border: 1px solid #eaeaea;
}
div.cena, div.colich, div.last{
display: inline-block;
vertical-align: middle;
}
.shop_form table{
border-collapse: collapse;
width: 100%;
}
.tabletov a{
color: #5a5a5a;
text-transform: inherit;
font-size: 14px;
}
.shop_form table td{
border: none;
height: 60px;
border-right: 1px solid #eaeaea;
}
.shop_form table td:last-child{
border: none;
}
.shop_form table td.cena{
width: 207px;
text-align: center;
}

.shop_form table td.colich{
width: 147px;
}

.shop_form table td.sub-bay{
width: 51px;
text-align: center;
}
.shop_form table td.sub-bay input{
background: url(../img/table_cart.png) no-repeat left top;
border: none;
outline: none;
width: 32px;
height: 30px; 
overflow: hidden;
text-indent: 999px;
cursor: pointer;
display: inline-block;
}
div.paginator{
text-align: right;
color: #494949; 
font-size: 15px;
font-weight: bold;
}
.paginator a{
color: #494949;
}
.inner_cat .wrapp_hed_cont{
margin: 0;
}

.inner_cat .wrapp_hed_cont .search-input .search-input1 {
    position: relative;
    width: 425px;
    margin-top: 40px;
    float: left;
}


.inner_cat .wrapp_hed_cont .search-input .search-input1 #textbox{
background: #fff;
border: 1px solid #e1e1e1;
padding: 9px 30px 7px 10px;
width: 100%;
}
.inner_cat  .wrapp_hed_cont .search-input .search-input1 input[type="submit"]{
background: #fff url(../img/sear.png) no-repeat 5px center;
border: none;
width: 30px;
height: 28px;
position: absolute;
top: 3px;
padding: 0;
right: 3px;
text-indent: 999px;
overflow: hidden;
cursor: pointer;
}
.callBack, .feedback_form .button , .login input[type="submit"], .registration_form input[type="submit"], 
.usersettings_form  input[type="submit"], .otp{
padding: 9px 21px;
color: #fff;
margin-top: 40px;
background: #ca252c;
font-size: 15px;
font-weight: bold;
text-transform: uppercase;
display: inline-block;
vertical-align: top;
}
.feedback_form .button, .login input[type="submit"], .registration_form input[type="submit"],
 .usersettings_form  input[type="submit"], .otp{
margin: 0;
border: none;
cursor: pointer;
outline: none;
}
.login input[type="submit"]{
float: right;
margin-top: -17px;
}
.text_form.error_input, .error_input.error_input{
border: 1px solid red;
}
.name_form, #popupContact h3,
.name_form, #popupContact .x3{
color: #545454;
font-size: 20px;
font-weight: bold;
text-align: center;
text-transform: uppercase;
margin: 0 0 15px;
}
.wrapp_content{
min-height: 200px;
}
#popupContact a:hover, .tabletov a:hover{
color: #000;
text-decoration: underline;
}
.text_form, .login input[type="text"], .login input[type="password"], .inpText {
outline: none;
color: #424242;
font-size: 13px;
background: #fff;
border: 1px solid #e1e1e1;
margin-bottom: 15px;
padding: 9px 10px;
width: 100%;
}
.registration_form {
width: 400px;
}
div.shop_list{
margin: 0 ;
padding: 0 ;
border-bottom: none;
}
.shop-item-left{
float: left;
width: 400px;
margin-right: 20px;
}
.shop_all_img{
width: 400px;
height: 320px;
position: relative;
display: table-cell;
vertical-align: middle;
text-align: center;
margin-bottom: 20px;
/* background: #f2f2f2; */
border: 1px solid #f2f2f2;
}
.shop_all_img img{
max-width: 100%;
height: auto;
display: block;
margin: auto;
}
.js_shop .shop_form {
margin-top: 20px;
}
.name_col{
display: inline-block;
vertical-align: middle;
margin-right: 10px;
text-transform: uppercase;
color: #5a5a5a;
font-size: 16px;
}
.col_wrapp nobr{
display: inline-block;
border: 1px solid #e3e3e3;
width: 125px;
position: relative;
vertical-align: middle;
}
.col_wrapp nobr input{
border: none;
width: 100%;
text-align: left;
padding: 13px 10px;
}
.col_wrapp nobr .cart_count_plus{
position: absolute;
top: 1px;
font-size: 16px;
font-weight: bold;
right: 1px;
}
.col_wrapp nobr .cart_count_minus{
position: absolute;
bottom: 3px;
font-size: 16px;
font-weight: bold;
right: 3px;
}
.col_wrapp{
float: left;
margin-right: 15px;
}
.left_id .col_wrapp { margin-right: 0; }
.left_id .button {
color: #fff;
font-size: 20px;
font-weight: bold;
text-transform: uppercase;
background: #ca252c url(../img/ico_cart.png) no-repeat 102px center;
padding: 10px 46px 10px 10px;
border: none;
cursor: pointer;
outline: none;
float: right;
}
.wrapp_right_opis{
float: right;
width: 575px;
}

.title_desc{
color: #5a5a5a;
font-size: 16px;
font-weight: bold;
margin-bottom: 20px;
}
.list_desc li:nth-child(odd){
background: #f6f6f6;
}
.list_desc, #top-menu {
margin-left: 0px !important;
}
.list_desc li{
padding: 12px;
color: #5a5a5a;
margin-bottom: 4px;
font-size: 13px;
list-style-type: none;
margin-left: 0px;
}
.name_li{
display: inline-block;
vertical-align: top;
width: 250px;
margin-right: 10px;
}
.display{
display: none!important;
}
.izm{
position: absolute;
top: 5px;
right: 20px;
}
.wrapp_content h1, .wrapp_predl_preim h2, .wrapp_predl_preim .h2 {
color: #494949;
font-size: 20px;
margin-bottom: 20px;
text-transform: uppercase;
}

.wrapp_predl_preim .h2 {
  font-weight: bold;
}
.wrapp_content .x1, .wrapp_predl_preim .x2{
color: #494949;
font-size: 20px;
margin-bottom: 20px;
text-transform: uppercase;
font-weight: bold;
}
ul, ol{ 
color: #5a5a5a;
margin-bottom: 15px;
list-style-type: disc;
margin-left: 30px;
line-height: 18px;
font-size: 14px;
}
ol{
list-style-type: decimal;
}
.map{
float: left;
width: 580px;
height: 380px;
}
/*.text_cont_right{
float: right;
width: 400px;
}*/
.text_cont_right{
width: 100%;
}
.wrapp_content .text_cont_right p{
font-size: 18px;
color: #5c5c5c;
margin-bottom: 20px;
line-height: 26px;
}
.wrapp_content  p a{
color: #ca252c;
text-decoration: underline;
}
.wrapp_content p a:hover{
text-decoration: none;
}
.wrapp_man{
float: left;
width: 320px;
margin-bottom: 40px;
margin-right: 21px;
}
.img_man{
float: left;
width: 98px;
margin-right: 15px;
}
.img_man img{
width: 100%;
height: auto;
border-radius: 5px;
}
.text_man{
float: right;
width: 207px;
}
.text_man .name_man{
color: #ca252c;
font-size: 16px;
margin-bottom: 5px;
font-weight: bold;
}
.text_man .post{
color: #6f6f6f;
font-size: 13px;
margin-bottom: 10px;
}
.text_man  p{
color: #5c5c5c;
font-size: 18px;
line-height: 26px;
}
.menu_bottom ul{
margin-bottom: 0;
}
.cart_open{
position: absolute;
width: 30px;
height: 100%;
background: url(../img/cart_oppen.png) no-repeat center;
cursor: pointer;
z-index: 10;
top: 0;
right: 0;
}
.cart, .user_order{
width: 100%;
border-collapse: collapse;
border: 1px solid #ebebeb;
}
.cart td, .user_order td{
padding: 5px;
border-bottom: 1px solid #ebebeb;
}
.user_order td{
padding: 10px;
}
.cart_name a{
color: #545454;
}
.cart_block .cart_img{
width: 60px;
}
.cart_block .cart_name{
width: 160px;
}
.cart_block  .cart_summ{
width: 133px;
}
.cart_block  .cart_remove{
width: 60px;
}
.cart_remove .js_cart_remove{
background: url(../img/closse.png) no-repeat left top;
width: 20px;
height: 20px;
}

.cart_remove .js_cart_remove input{
width: 23px; 
height: 22px;
margin: 0;
opacity: 0;
cursor: pointer;
}
.wrapp_content .search{
position: relative;
width: 500px;
margin-bottom: 10px;
}
.wrapp_content .search .input_search{
outline: none;
color: #424242;
font-size: 13px;
margin-left: -4px;
background: #fff;
border: 1px solid #e1e1e1;
padding: 9px 30px 7px 10px;
width: 100%;
}
.wrapp_content .anons p{
color: #494949;
font-size: 14px;
line-height: 16px;
}
.wrapp_content .search input[type="submit"] {
background: #fff url(../img/sear.png) no-repeat 5px center;
border: none;
width: 30px;
height: 31px;outline: none;
position: absolute;
top: 1px;
padding: 0;
right: 5px;
text-indent: 999px;
overflow: hidden;
cursor: pointer;
}
.wrapp_content p{
color: #5c5c5c;
font-size: 14px;
line-height: 19px;
margin-bottom: 15px;
}
.search_text{
margin-bottom: 20px;
}
.search_name, .faq_question  a{
margin-bottom: 10px;
}
.faq.block{
margin-bottom: 20px;
}
.search_name a, .faq_question  a{
color: #ca252c;
text-decoration: underline;
font-size: 18px;
display: block;
line-height: 22px;
}
.search_name a:hover, .faq_question  a:hover{
text-decoration: none;
}
.code_img{
width: 120px;
height: auto;
vertical-align: middle;
display: inline-block;
margin-right: 15px;
}
.captcha .inpText{
vertical-align: middle;
display: inline-block;
width: 260px;
margin: 0;
}

.cart_table_t th, .user_order th{
padding: 12px 10px;
background: #f6f6f6;
text-transform: uppercase;
}
.cart_table_t td.cart_img{
width: 172px;

}
.cart_table_t td.cart_name{
width: 252px;
}
.cart_table_t  .cart_count nobr{
position: relative;
display: block;
}
.cart_table_t  .cart_count nobr span{
position: absolute;right: 7px;

}
.cart_table_t  .cart_count nobr span.cart_count_minus{
bottom: 0;
font-size: 20px;
right: 8px;
}
.cart_table_t  .cart_count nobr span.cart_count_plus{
top: 0;
}
.cart_table_t td.cart_img img{
max-width: 100%;
height: auto;
max-height: 100px;
width: auto;
}
.cart_table_t td .number{
width: 79px;
text-align: left;
}
.cart_table_t td.cart_price, .cart_table_t td.cart_summ{
text-align: center;
}
.cart_table_t .cart_last_tr td{
padding: 15px 10px;
}
.dost{
text-align: left;
}
.cart_table_t .dost_tr td{
padding: 15px 10px;
}
.cart_form textarea{
height: 120px;
resize: none;
}
.infofield2, .block_header{
color: #494949;
margin-top: 15px;
font-weight: bold;
font-size: 17px;
margin-bottom: 20px;
text-transform: uppercase;
}
.payment_text{
margin-left: 25px;
font-size: 11px;
margin-bottom: 20px;
font-style: italic;
}
.cart_autorization{
text-align: center;
}
.cart_autorization .regist{
float: none;
margin: 10px 0 15px;
}
.cart_autorization .regist li .vhod, .cart_autorization .regist li a, .cart_autorization .regist li .vhod:hover,
.cart_form  input[type="submit"]{
padding: 9px 21px;
color: #fff; 
background: #ca252c;
font-size: 15px;
font-weight: bold;
text-transform: uppercase;
display: block; 
margin: 0 15px;
border: none;
cursor: pointer;
outline: none;
}
.cart_form  input[type="submit"]{
margin: 0;
}
.faq-answer{
display: none;
}
.zayav{
width: 500px;
}
.zayav .name_form{
text-align: left;
}
.link_user_cab {
float: right;
width: 500px;
text-align: right;
margin-top: -39px;
}
.link_user_cab a {
display: inline-block;
vertical-align: top;
margin-left: 20px;
color: #ca252c;
font-size: 13px;
text-transform: uppercase;
}
.link_user_cab .active, .link_user_cab a:hover {
display: inline-block;
vertical-align: top;
margin-left: 20px;
color: #000;
font-size: 13px;
text-decoration: underline;
text-transform: uppercase;
}
.order_goods a{
display: block;
color: #ca252c;
text-decoration: underline;
font-size: 13px;
margin-bottom: 5px;
}
.user_order td{
border: 1px solid #ebebeb;
text-align: center;
}
.order_goods{
text-align: left;
}
.user_order td[align="right"]{
text-align: left;
}
.order_goods a:hover{
text-decoration: none;
}
.user_page {
display: none;
}
.usersettings_form, .reminding_form, .reminding_form {
width: 400px;
}
.wrapp_bg_all {
position: fixed;
width: 100%;
height: 100%;
background: #000;
opacity: .7;
top: 0;
display: none;
left: 0;
z-index: 900;
}
.block_cupit_wrapp {
position: fixed;
width: 512px;
display: none;
padding: 10px;
background: #fff;
border-radius: 6px;
z-index: 910;
top: 35%;
left: 50%;
margin-left: -260px;
}
.shop_buy .solid {
 
}
.error_mi, .error_mi2 {
color: #014306;
font-size: 13px;
font-family: "Arial";
display: none;
background: #fff;
padding: 5px 0 5px 30px;
}
.cup_sub{
padding: 9px 12px;
color: #fff;
margin-top: 0;
background: #ca252c;
float: left;
font-size: 15px;
text-align: center;
margin-bottom: 15px;
cursor: pointer;
font-weight: bold;
text-transform: uppercase;
display: inline-block;
vertical-align: top;
} 
.wrapp_sub p{
margin-bottom: 20px;
text-align: center;
font-size: 18px; 
line-height: 26px;
}
 .otmena {
 float: right;
 }
.cllose, .cllose2, .cllose3 {
display: block;
position: absolute;
top: -22px;
right: -22px;
width: 19px;
height: 19px;
background:url(../img/closse.png) no-repeat left top;
cursor: pointer;
}
.sub-bay .cart_tu_bay{
background: url(../img/table_cart.png) no-repeat left top;
border: none;
outline: none;
width: 32px;
height: 30px;
cursor: pointer;
display: inline-block;
padding: 0;
white-space: nowrap;
overflow: hidden;
text-indent: 999px;
}
 h1+.predl h2.hit,  h1+span .predl h2.hit{
display: none; 
}
.left_id .cart_tu_bay {
color: #fff;
font-size: 20px;
font-weight: bold;
text-transform: uppercase;
background: #ca252c url(../img/ico_cart.png) no-repeat 102px center;
padding: 11px 46px 11px 10px;
border: none;
cursor: pointer;
width: 138px;
display: inline-block;
vertical-align: top;
outline: none;
margin: 0;
}
.news_block{
padding-bottom: 10px;
margin-bottom: 15px;
border-bottom: 1px solid #d1d1d1;
}
.new_img{
float: left;
margin-right: 15px;
}
.ne_link{
float: left;
}
.new_img img{
width: 271px;
height: 190px;
}
.block-text{
float: right;
width: 712px;
}
.ne_link a{
display: block;
color: #5a5a5a;
font-size: 16px;
margin-bottom: 10px;
}
.news_date {
float: right;
color:#5a5a5a;
font-size: 14px;
}
.news_anons {
overflow: hidden;
height: 122px;
margin-bottom: 10px;
}
.wrapp_content  .block-text .news_anons  p{
font-size: 13px;
line-height: 17px;
}
.next_l{
display: inline-block;
padding: 9px 15px;
color: #fff;
font-size: 14px;
text-transform: uppercase;
background: #adadad;
}
.news_all_img{
float: left;
margin-right: 15px;
}
.shop_img{
position: relative;
}
.shop_img .shop-photo-labels img{
width: auto;
position: absolute;
top: 0;
right: 0;
height: auto;
}
.breadcrumb {
margin-bottom: 15px;
font-size: 13px;
color: #545454;
}
.breadcrumb a{
text-decoration: underline;
color: #ca252c;
}
.breadcrumb a:hover{
text-decoration: none;
}
.feedback_form_param21 .infofield{
color: #545454;
font-size: 16px;
font-weight: bold;
margin-bottom: 10px;
}
.attachment_extensions{
font-size: 12px;
font-style: italic;
margin: -22px 0 21px 239px;
}.map{
position: relative;
}
.map_print_img{
display: none;
}
.map_print{
cursor: pointer;
top: -41px;
position: absolute;
right: 0;
width: 163px;
color: #5c5c5c;
font-size: 13px;
padding: 3px 0 3px 30px;
background: url(../img/print.jpg) no-repeat left top;
}
.shop_cat_link *
{
color: #494949;
}
.seemore
{
  float: right;
  background: #CC2225;
  color: white;
  padding: 10px;
  margin-top: -10px;
  margin-right: -10px;
  width:70px;
  text-align:center;
}
.shop_cat_link
{
cursor:pointer;
}

.wrapp_content>.js_shop_list.shop_list2 {
	position:relative;
}

.wrapp_content>.js_shop_list.shop_list2 .all_tov {
    position: absolute;
    bottom: 19px;
    left: 25%;
}

.wrapp_content>.js_shop_list.shop_list2:nth-child(1) {
    height: 1073px;
}
.wrapp_content>.js_shop_list.shop_list2:nth-child(2) {
    height: 1073px;
}
.wrapp_content>.js_shop_list.shop_list2:nth-child(3) {
    height: 1073px;
}
.wrapp_content>.js_shop_list.shop_list2:nth-child(4) {
    height: 1073px;
}

.wrapp_content>.js_shop_list.shop_list2:nth-child(5) {
    height: 375px;
}
.wrapp_content>.js_shop_list.shop_list2:nth-child(6) {
    height: 375px;
}
.wrapp_content>.js_shop_list.shop_list2:nth-child(7) {
    height: 375px;
}
.wrapp_content>.js_shop_list.shop_list2:nth-child(8) {
    height: 375px;
}
.products-details .show_more
{
  line-height: 40px;
  display: table;
  padding: 0px 15px;
  margin: auto;
  margin-bottom: 25px;
  background: #cc2225;
  color: #fff;
}
.text_main {
  color: #5a5a5a;
  padding: 15px 0;
}
.text_main h2 {
  margin-top: 15px;
}

.text_main h1 {
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.text_main p {
  line-height: 22px;
}

.wrapp_content h2 {
  font-size: 20px;
  margin: 15px 0;
  color: #494949;
}

/*.li19 {
    display: none !important;
}*/

.wrapp_content  p a.tel {
  text-decoration: none;
  color: #5c5c5c;
}
div.schema-org {
  display: none;
}






/*-------------------------------------------*/
.wrapp_hed_cont1 {
    /*margin: 0 !important;*/
	margin-top: 0px;
}



/*.search-input, .search-input1{
margin-bottom: 15px;
}
.inner_cat, .wrapp_hed_cont{
margin: 0;
}
.inner_cat, .wrapp_hed_cont, .search-input, .search-input1 {
    position: relative;
    width: 425px;
    margin-top: 40px;
    float: left;
}*/

/*.inner_cat,  .wrapp_hed_cont, .search-input, .search-input1, input[type="submit"]{
background: #fff url(../img/sear.png) no-repeat 5px center;
border: none;
width: 30px;
height: 28px;
position: absolute;
top: 3px;
padding: 0;
right: 3px;
text-indent: 999px;
overflow: hidden;
cursor: pointer;
}
.top_search, input[type="submit"]{
background: #ca252c;
font-size: 15px;
font-weight: bold;
text-transform: uppercase;
padding: 8px 25px;
outline: none;
border: none;
display: inline-block;
cursor: pointer;
color: #fff;
margin-top: 0;
vertical-align: middle;
}*/
/*
.search-input > .submitW {
background: #fff url(../img/sear.png) no-repeat 5px center;
border: none;
width: 30px;
height: 28px;
position: absolute;
top: 3px;
padding: 0;
right: 3px;
text-indent: 999px;
overflow: hidden;
cursor: pointer;
}
.search-input > .submitW {
background: #ca252c;
font-size: 15px;
font-weight: bold;
text-transform: uppercase;
padding: 8px 25px;
outline: none;
border: none;
display: inline-block;
cursor: pointer;
color: #fff;
margin-top: 0;
vertical-align: middle;
}
*/


.search-input1 {
    position: relative;
    width: 425px;
    margin-top: 40px;
    float: left;
}
.search-input1 {
    margin-bottom: 15px;
}


.search-input > .textboxW {
    /*background: #fff !important;*/
    border: 1px solid #e1e1e1 !important;
    padding: 9px 30px 7px 10px !important;
    width: 100% !important;
}

.submitW{
    background: #fff url(../img/sear.png) no-repeat 5px center !important;
    border: none !important;
    width: 30px;
    height: 28px;
    position: absolute;
    top: 3px;
    padding: 0 !important;
    right: 3px;
    text-indent: 999px;
    overflow: hidden;
	font-weight: bold !importantv;
    text-transform: uppercase !important;
	cursor: pointer !important;

}

.search-input1 > #textbox {
	background: none !important;
}















